<h1><%= @item.title %></h1>
<div class="container">
    <div class="section">
      <h2><strong>Title</strong></h2>
      <%= @item.title %>
    </div>
    
    <div class="section">
      <h2><strong>Quantity</strong></h2>
      <%= @item.quantity %>
      <h2><strong>Brand</strong></h2>
      <%= @item.brand %>
    </div>
</div>